extends layout

block content
    a(href="/admin" class="btn btn-info") <- Liste
    br
    br
    form(method="POST" enctype="multipart/form-data")
      .form-group
        label(for='prenom') Prénom
        input#title.form-control(type='text' id='prenom' required placeholder='Indiquez ici votre prénom' name="prenom" value=wilders.prenom)
      .form-group
        label(for='nom') Nom
        input#title.form-control(type='text' required placeholder='Nom' name="Indiquez ici votre nom" value=wilders.nom)
      .form-group
        label(for='email') Email
        input#title.form-control(type='text' required placeholder='Indiquez ici votre adresse mail' name="email" value=wilders.email)
      .form-group
        label(for='motdepasse') Mot de passe
        input#title.form-control(type='text' required placeholder='Indiquez ici votre mot de passe' name="motdepasse" value=wilders.motdepasse)
      .form-group
        label(for='naissance') Date de naissance
        input#title.form-control(type='text' required placeholder='Indiquez ici votre date de naissance' name="naissance" value=wilders.naissance)
      .form-group
        label(for='adresse') Adresse
        input#title.form-control(type='text' required placeholder='Indiquez ici votre adresse' name="adresse" value=wilders.adresse)
      .form-group
        label(for='codepostal') Code postal
        input#title.form-control(type='text' required placeholder='Indiquez ici votre code postal' name="codepostal" value=wilders.codepostal)
      .form-group
        label(for='ville') Ville
        input#title.form-control(type='text' required placeholder='Indiquez ici votre ville' name="ville" value=wilders.ville)

    p Pour prendre en compte ces informations, merci de cliquer sur le bouton ci-dessous
      button.btn.btn-default(type='submit') Modifier
