extends layout

block content
    p Ceci est la page de mise à jour de vos informations personnelles
    
    a(href="/admin" class="btn btn-info") <- Liste
    br
    br
    form(method="POST" enctype="multipart/form-data")
      .form-group
        label(for='prenom') Prénom
        input#title.form-control(type='text' required placeholder='Changez votre prénom ici' name="prenom" value=wilders.prenom)
      .form-group
        label(for='nom') Nom
        input#title.form-control(type='text' required placeholder='Nom' name="Changez votre nom ici" value=wilders.nom)
      .form-group
        label(for='email') Email
        input#title.form-control(type='text' required placeholder='Changez votre adresse mail ici' name="email" value=wilders.email)
      .form-group
        label(for='motdepasse') Mot de passe
        input#title.form-control(type='text' required placeholder='Changez votre mot de passe ici' name="motdepasse" value=wilders.motdepasse)
      .form-group
        label(for='naissance') Date de naissance
        input#title.form-control(type='text' required placeholder='Changez votre date de naissance ici' name="naissance" value=wilders.naissance)
      .form-group
        label(for='adresse') Adresse
        input#title.form-control(type='text' required placeholder='Changez votre adresse ici' name="adresse" value=wilders.adresse)
      .form-group
        label(for='codepostal') Code postal
        input#title.form-control(type='text' required placeholder='Changez votre code postal ici' name="codepostal" value=wilders.codepostal)
      .form-group
        label(for='ville') Ville
        input#title.form-control(type='text' required placeholder='Changez votre ville ici' name="ville" value=wilders.ville)

    p Pour prendre en compte ces informations, merci de cliquer sur le bouton ci-dessous
      button.btn.btn-default(type='submit') Modifier
